/* This file is for your main application css. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

#main {
    margin-top: 10%;
}

header.header {
    border: none;
    margin: 0;
    padding: 0;
}
